Rest/Project1/public_html/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="emps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="emp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="id"/>
        <xs:element ref="salary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="name" type="xs:NCName"/>
  <xs:element name="salary" type="xs:integer"/>
</xs:schema>
